{% extends 'filmy/base.html' %}

{% block 'title' %}Filmy | {{ block.super }}{% endblock %}

{% block 'content' %}
    <h1>Filmy</h1>
    <form action=".">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="..." aria-label="Recipient's username" aria-describedby="basic-addon2" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Hledat</button>
            </div>
        </div>
    </form> 

    <form action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary" style="margin-bottom: 5px;" name="genre" value="all"> all </button>
        {% for gener in genres %}
        <button type="submit" class="btn btn-outline-primary" style="margin-bottom: 5px;" name="genre" value="{{ gener.name }}">{{ gener.name }}</button>
        {% endfor %}
    </form>
    
    <div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{{ movie.main_picture }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ movie.name }}</h4>
                    <h6 class="card-title">{{ movie.director }}</h6>
                    
                    {% for gener in movie.genres.all %}
                    <span class="badge rounded-pill text-bg-primary">{{ gener.name }}</span>
                    {% endfor %}

                    <p class="card-text ">{{ movie.description|truncatewords:30 }}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="#" class="btn btn-primary">Detaily</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}